<html>
<head>
  <meta charset="UTF-8">
  <title>Potion</title>

  <link rel="stylesheet" href="../static/libraries/materialize.min.css">
  <link rel="stylesheet" href="../static/libraries/easy-autocomplete.min.css">
  <link rel="stylesheet" href="../static/libraries/main.css">

  <script src="{{ url_for('static', filename='libraries/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='libraries/jquery.easy-autocomplete.js') }}"></script>
  <script src="{{ url_for('static', filename='libraries/materialize.js') }}"></script>
</head>